<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Somos un servicio integral de diseño, rediseño y desarrollo
        especializado en la creación de excepcionales sitios para cautivar a los
        usuarios y dejar una impresión duradera.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Nos especializamos en el desarrollo de sitios web estáticos. Creando
        sitios web a medida y optimizados que comparten eficazmente historias de
        startups, conectan con el público y crean experiencias memorables.
        Permítenos ayudarle a alcanzar sus objetivos con una presencia en línea
        notable.
      </p>
    </div>
  </div>
</section>
