<div
  class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2"
>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#ed642c]">
      Estoy encantado con las páginas web que se desarrollaron para mis
      negocios. Su profesionalismo y atención al detalle superaron mis
      expectativas. Gracias a su trabajo. ¡Altamente recomendado!
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Giovanny Cupul</span>
      <span class="block text-eagle"
        >Propietario - Restaurant el Guadalupano / Banquetes Giovanny / Salsas
        Gio</span
      >
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#ed772f]">
      Desde que lanzaron la página web para mi despacho, he notado un aumento
      significativo en las consultas. El diseño profesional y la información
      clara generan mucha confianza en los clientes potenciales. ¡Estoy muy
      satisfecha con el resultado!
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Lic. Rubi Falcon</span>
      <span class="block text-eagle"
        >Propietaria - Despacho Jurídico Falcon</span
      >
    </div>
  </div>
  <div class="flex flex-col justify-between h-full">
    <p class="text-[#ef9335]">
      Gracias a la publicidad digital, hemos logrado mejorar significativamente
      la imagen de nuestra marca. ¡Ahora somos percibidos como una empresa
      moderna y dinámica!
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Giovanny Cupul</span>
      <span class="block text-eagle"
        >Propietario - Restaurant el Guadalupano / Banquetes Giovanny / Salsas
        Gio</span
      >
    </div>
  </div>
  <!-- <div class="flex flex-col justify-between h-full">
    <p class="text-eagle">
      Andrew stands out as a distinctive blend of designer and developer who
      comprehends business requirements. He utilized his prior experience to
      swiftly create multiple landing pages for SparkLynx.
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3">Jessica Carter</span>
      <span class="block text-eagle">Co-Founder of SparkLynx Technologies</span>
    </div>
  </div> -->
</div>
