<footer class="border-white/20 border-b bg-accent-500">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center items-center mx-auto">
        <p class="uppercase font-display text-2xl">AYDAN DESIGN</p>
        <p class="mx-auto mt-3 text-sm">
          Diseñado y construido por <a
            class="underline"
            href="https://www.facebook.com/AydanDesignAD">Aydan Design</a
          >.
        </p>
      </div>
    </div>
    <section
      class="mx-auto border-white/20 border-t flex flex-col p-8 items-center"
    >
      <script
        src="https://static.elfsight.com/platform/platform.js"
        data-use-service-core
        defer></script>
      <div
        class="elfsight-app-ad811331-7c14-4c19-875b-c15365b8c391"
        data-elfsight-app-lazy
      >
      </div>
    </section>
    <div class="mx-auto border-white/20 border-t flex flex-col p-8">
      <p class="text-white text-center text-sm font-display">
        Copyright 2024 - Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
